*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    border: 4px solid black;
    height: calc(100vh - 4px);
    padding: 10px;
    font-family: "Lilita One", sans-serif;margin: 2px;
}

div{
    margin-bottom: 10px;
}

div:nth-of-type(3){
    margin-bottom: 0px;
}

#header{
    
    padding: 10px;
    height: 15% ;
    display: flex;
    flex-direction: row;
    font-family: "Nunito", sans-serif;
    margin-bottom: 0;
}

#projekty{
    border: 3px solid black;
    width: 80%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
    margin-bottom: 0;
}

#octopus{
    height: 100%;
    width: 70px;
}

#projekty > button{
    margin: 5px;
    width: 15%;
    background-color: #0B8673;
    color: #F5FAFF;
    padding: 0 27px;
    border: none;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
   
    
}

#kolor{
    border: 3px solid black;
    width: 20%;
    text-align: center;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    
}
#kolor > p {
    width: 100%;
    margin-bottom: 5px;
}
#kolor > img {
    width: 40px;
    height: 40px;
}

#main{
    height: 85%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 0;
}

#tresc{
    width: 80%;
    border: 3px solid black;
    margin-bottom: 0;
    padding: 3%;
    margin-right: 10px;

}

#technologie{
    width: 20%;
    margin-bottom: 0;
    padding-left: 10px;
    

}

#technologie > h3{
    margin-bottom: 0;
    font-size: 30px;
    
}

#stack{
    margin-top: 0;
    list-style-type:"- ";
    padding: 15px;
    font-family: "Nunito", sans-serif;
    font-size:20px;
}
#github{
    border:3px solid black;
    padding: 20px 15px;
    text-align: center;
    display:flex;
    justify-content: center;
    margin-bottom: 0;
    flex-direction: row;
   

   
   
}
#powered_by{
    justify-content: center;
    margin: auto 0;
    
    
}
#github_photo{
    width: 50px;
    height: 50px;
    
}

#Tgora{
    display: grid;
    grid-template-columns: 200px auto;
    height: 50%
}
#name_container{
    height:50%;
}

#awatar{
    border: 1px dotted black;
    background: #000;
    width: 180px;
    height: 181px;
    border-radius: 5px;
    
}

#jacek{
    width: 180px;
    height: 180px;
  
}



#top{
    display: grid;
    grid-template-columns: auto 20%;
    margin-bottom: 0;
    width: 95%;
}


#Hi > h1{
    margin: 0;
    white-space: nowrap;
    font-size:  60px;
}

#Hi > p{
    margin: 5px 0;
    font-family: "Nunito", sans-serif;
    font-size:  27px;
}
#lorem{
    font-size: 17px;
}
#linki, #lorem{
    font-family: "Nunito", sans-serif;
   
}

#linki > p {
    
    display: flex ;
    flex-direction: row;
    height: 40%;
}

.social_photo{
    width:25px;
    height:25px;
    vertical-align: middle;
}
#Tdol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    height: 50%;
    

}

.tile{
    margin: 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.tile > div > h2{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.tile > div{
    margin-bottom: 0;
}

.h2_container {
    margin-bottom: 0;
    border-bottom: 2px solid black;
}
#h2_experience{
display:flex;
align-items: center;
justify-content: center;
margin: 0;
padding:10px 0;

}


#experience_text{
    color: #F5FAFF;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height:100% ;
    width:100% ;
    font-size: 20px;
    justify-content: space-around;
}



.tile > div > div > button{
    background-color: #F5FAFF;
    border-radius: 25px;
    height: 35px;
    width: 35px;
    text-align: center;
    border: none;
    cursor: pointer;
}

#h2_container{
    margin-bottom: 0;
}

#h2_contact_div{
    width: 70%;
    margin-bottom: 0;
}

#icon_contact_div{
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_me_container{
    color: #F5FAFF;
    background-color: #000;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#contact_me_icon{
    width: 25px;
    height: 25px;

}

#contact_me_text{
padding: 10px 15px 15px 10px;
border: 2px solid black;
height: 100%;


}
#contact_me_text > textarea {
    resize: none;
    width: 100%;
    height: 70%;
    border:3px solid black ;
}
#contact_me_text > input {
height: 20%;
margin-bottom: 10px;
width: 75%;
border:3px solid black ;

}
#h2_contact{
margin: 0; 
display:flex;
align-items: center;
justify-content: center;
margin: 0;
padding:10px 0;

}










#footer{
    border-bottom: 2px dashed black;

}

